@define-color bg-col1 rgba(32,32,32,0.5);
@define-color bg-col2 rgba(32,32,32,0.75);

@define-color hl-col1 rgba(255,255,255,0.25);
@define-color hl-col2 rgba(0,255,255,0.25);

@define-color text-light #ffffff;

@define-color bat-norm #ffffff;
@define-color bat-char #00ff00;
@define-color bat-warn #ff0000;

* {
	all: unset;
	font-family: NotoSans;
	font-weight: 700;
	font-size: 12pt;
}

/* all windows */

window {
	background: @bg-col1;
	border-radius: 10px;
	box-shadow: inset 0px 0px 0px 2px @hl-col1;
}

window#waybar {
	background: @bg-col2;
	border-radius: 10px 10px 0px 0px;
}

/* groups in order: nwg-menu, waybar, wofi
 * notes:
 * - lists sit behind rows, rows contain icon and text
 * - #entry corresponds to items in wofi, and it does not accept color, only background and background-color
 * - #entry:hover does not work outside of dropdown lists
 * - entry refers to the search box, it will accept background, background-color and color, it is used by both nwg-menu and wofi
 * - #text is apparently used only by wofi
 * */

row,
row:hover,
list,
button,
button:hover,

#custom-menubutton,
#workspaces button,
#workspaces button:hover,
#taskbar button,
#taskbar button:hover,

#entry {
	background: transparent;
	color: @text-light;
}

/* search box */

entry {
	background: @bg-col1;
	border-radius: 10px;
	color: @text-light;
	min-width: 256px;
	min-height: 32px;
}

/* icons are 32px tall; make search boxes, menu button, workspace buttons and wofi entries also 32px tall */

#custom-menubutton,
#workspaces button,

#entry {
	min-width: 32px;
	min-height: 32px;
}

/* selected */

row:selected,
button:selected,

#workspaces button.active,
#taskbar button.active,

#entry:selected {
	border-radius: 10px;
	box-shadow: inset 0px 0px 0px 2px @hl-col1;
}

/* urgent */

#workspaces button.urgent,
#taskbar button.urgent {
	border-radius: 10px;
	box-shadow: inset 0px 0px 0px 2px @hl-col2;
}

/* idk how to change the margin in nwg-menu so just make wofi the same as nwg-menu */

#outer-box {
	margin: 10px;
}

#scroll {
	margin-top: 10px;
}

#text {
	margin: 5px;
}

/* add margin to waybar items tray and others */

/* #custom-menubutton,
#workspaces button,
#taskbar button {
	margin: 10px 0px;
} */

#tray,
#idle_inhibitor,
#keyboard-state,
#language,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#pulseaudio,
#pulseaudio.muted,
#wireplumber,
#wireplumber.muted,
#backlight,
#battery,
#clock,
#custom-restart,

#privacy,
#privacy-item,
#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out {
	margin: 0px 10px;
}

/* tray */

#tray {
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}

/* battery */

#battery {
}

#battery.charging, #battery.plugged {
	color: @bat-char;
}

@keyframes blink {
	to {
		color: @bat-norm;
	}
}

#battery.critical:not(.charging) {
	color: @bat-warn;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
