* {
	all: unset;
	font-family: NotoSans;
	font-weight: 700;
	font-size: 12px;
}

/* all windows
 * notes:
 * - window will style everything
 * - window.background will style nwg-menu only (hopefully)
 * - window#window will style wofi only (hopefully)
 * - window#waybar will style waybar only (hopefully)
 * */

window.background {
	background: url("../../.face.icon"), rgba(0,0,0,0.5); /* profile pic in nwg-menu ^-^ */
	background-repeat: no-repeat;
	background-size: 64px;
	background-position: 10px 10px;
	border-radius: 10px;
}

/* make space for anime profile pic in nwg-menu */

window.background > box {
	margin-top: 84px;
}

/* this so it won't affect waybar */

window.background#waybar > box {
	margin-top: 0px;
}

window#window,
window#waybar {
	background: rgba(0,0,0,0.5);
}

window#waybar {
	border-radius: 10px 10px 0px 0px;
}

/* groups in order: nwg-menu, waybar, wofi
 * notes:
 * - lists sit behind rows, rows contain icon and text
 * - #entry corresponds to items in wofi, and it does not accept color, only background and background-color
 * - #entry:hover does not work outside of dropdown lists
 * - entry refers to the search box, it will accept background, background-color and color, it is used by both nwg-menu and wofi
 * - #text is apparently used only by wofi
 * */

row,
row:hover,
list,
button,
button:hover,

#custom-menubutton,
#workspaces button,
#workspaces button:hover,
#taskbar button,
#taskbar button:hover,

#entry {
	background: transparent;
	color: #ffffff;
}

entry {
	background: #ffffff;
	border-radius: 10px;
	color: #000000;
}

#scroll {
	margin-top: 10px;
}

/* icons are 32px tall; make search boxes, menu button, workspace buttons and wofi entries also 32px tall */

entry,

#custom-menubutton,
#workspaces button,

#entry {
	min-width: 32px;
	min-height: 32px;
}

/* make taskbar buttons wide 6:1 */

#taskbar button {
	min-width: 192px;
}

/* selected and urgent */

row:selected,
button:selected,

#workspaces button.active,
#taskbar button.active,

#entry:selected {
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.25)), rgba(0,0,0,0.25);
}

#workspaces button.urgent,
#taskbar button.urgent {
	background: linear-gradient(to bottom, rgba(0,255,255,0), rgba(0,255,255,0.25));
}

/* idk how to change the margin in nwg-menu so just make wofi the same as nwg-menu */

#outer-box {
	margin: 10px;
}

#text {
	margin: 5px;
}

/* tray and others */

#tray,
#idle_inhibitor,
#keyboard-state,
#language,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#pulseaudio,
#pulseaudio.muted,
#wireplumber,
#wireplumber.muted,
#backlight,
#battery,
#clock,
#custom-restart,

#privacy,
#privacy-item,
#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out {
	margin: 0px 16px;
}

/* tray */

#tray {
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}

/* battery */

#battery {
}

#battery.charging, #battery.plugged {
	color: #ffff00;
}

@keyframes blink {
	to {
		color: #ffffff;
	}
}

#battery.critical:not(.charging) {
	color: #ff0000;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
